@import 'styles/_variaveis.sass'

.lastprojects
    font-family: $fonte-texto
    display: flex
    justify-content: center
    position: relative
    padding-bottom: 20px
    &__titulo
        position: absolute
        h2
            border-bottom: 4px solid #91C500
    &__projeto
        display: flex
        flex-direction: column
        margin-top: 20px
        

    