@import 'styles/_variaveis.sass'
.projeto
    &__conteudo
        display: flex
        @media screen and ( max-width: 768px )
            display: flex
            flex-direction: column
            align-items: center
        img
            width: 400px
            margin-right: 40px
        @media screen and ( max-width: 768px )
            margin: 0px

        &_repositorio
            display: flex
            flex-direction: column
            justify-content: center
            @media screen and ( max-width: 768px )
                margin-top: -50px
            &__h2Nome
                font-size: 20px
            &__h2Repo
                font-size: 18px
                padding-bottom: 12px          
            a   
                text-decoration: none
                margin-right: 32px
                background-color: #393953
                padding: 8px 24px
                border-radius: 100px
                &:hover
                    color: $cor-texto
                &:visited
                    color: $cor-texto
                &:link
                    color: $cor-texto

         