@import 'styles/_variaveis.sass'

.contato
    font-family: $fonte-texto
    display: flex
    justify-content: center
    padding-bottom: 20px
    position: relative
    margin-bottom: 10vw
    @media screen and ( max-width: 768px )
        margin-bottom: 100px
        margin-top: 50px
    &__titulo
        position: absolute        
        h2
            border-bottom: 4px solid #91C500
    &__formContato
        display: flex
        margin-top: 20px
        @media screen and ( max-width: 768px )
            margin-top: 100px
        